.list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  border-radius: 100px;
  padding: 12px 18px;
  background: #f2f4f7;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: #101828;
}

.item {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: #101828;
}
